.right-panel{
	-fx-background-color:linear-gradient(to bottom,#1f04b9,#342b6b);

	
}


.close{
	-fx-background-color:transparent;
	-fx-cursor:hand;
	-fx-background-radius:0;
	
}
.close:hover{
	-fx-background-color:#ff5050;
	
	
}
.login{
	-fx-background-color:#69a0ff;
}
.login:hover{
		-fx-background-color:#9fc4ff;
	
	
}
.register{
		-fx-background-color:#b0eeff;
}
.register:hover{
		-fx-background-color:#6edaf5;
	
	
}